In [6]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
sns.set(style="whitegrid")
df=pd.read_csv("online_retail.csv")
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

In [7]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=541909, step=1)

In [9]:
df.info

<bound method DataFrame.info of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]>

In [10]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [11]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [12]:
df.isnull()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
541904,False,False,False,False,False,False,False,False
541905,False,False,False,False,False,False,False,False
541906,False,False,False,False,False,False,False,False
541907,False,False,False,False,False,False,False,False
541908,False,False,False,False,False,False,False,False

In [13]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [14]:
df=df.dropna(subset=["CustomerID"])

In [15]:
df["CustomerID"]=df["CustomerID"].astype(int)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20384\3245723267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["CustomerID"]=df["CustomerID"].astype(int)

In [16]:
df["InvoiceDate"]=pd.to_datetime(df["InvoiceDate"])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20384\4257607828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["InvoiceDate"]=pd.to_datetime(df["InvoiceDate"])

In [17]:
df["is cancelled"]=df["InvoiceNo"].astype(str).str.startswith("c")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20384\1353358409.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["is cancelled"]=df["InvoiceNo"].astype(str).str.startswith("c")

In [18]:
non_pruduct_codes=["POST","BANK CHARGES","ADJUSTMENT","DOT"]

In [19]:
df[~df["StockCode"].isin(non_pruduct_codes)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,is cancelled
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,False
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,False
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,False
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,False
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,False
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,False
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,False
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,False
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,False
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,False

In [36]:
df=df[df["UnitPrice"]>0]
df=df[df["Quantity"]!=0]

In [21]:
df["Description"]=df["Description"].fillna("Unknown Product")
df["Revenue"] = df["Quantity"] * df["UnitPrice"]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20384\2489757485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Description"]=df["Description"].fillna("Unknown Product")
C:\Users\ASUS\AppData\Local\Temp\ipykernel_20384\2489757485.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Revenue"] = df["Quantity"] * df["UnitPrice"]

In [22]:
print("final sahape:",df.shape)
print(df.head())

final sahape: (406829, 10)
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  is cancelled  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom         False
1 2010-12-01 08:26:00       3.39       17850  United Kingdom         False
2 2010-12-01 08:26:00       2.75       17850  United Kingdom         False
3 2010-12-01 08:26:00       3.39       17850  United Kingdom         False
4 2010-12-01 08:26:00       3.39       17850  United Kingdom         False

   Revenue
0    15.30
1    20.34
2    22.00
3    20.34
4    20.34

In [23]:
df["is cancelled"].value_counts()

is cancelled
False    406829
Name: count, dtype: int64

In [24]:
reference_date = df["InvoiceDate"].max() + pd.Timedelta(days=1)

In [25]:
customer_df = (
    df.groupby("CustomerID")
    .agg(
        total_revenue=("Revenue", "sum"),       # مجموع درآمد
        total_orders=("InvoiceNo", "nunique"),  # تعداد فاکتور
        total_quantity=("Quantity", "sum"),     # تعداد کل کالا خریداری شده
        last_purchase=("InvoiceDate", "max"),   # آخرین خرید
        total_returns=("is cancelled", "sum")    # تعداد مرجوعی‌ها
    )
    .reset_index()
)

In [26]:
customer_df["recency_days"] = (
    reference_date - customer_df["last_purchase"]
).dt.days

In [27]:
customer_df["return_rate"] = (
    customer_df["total_returns"] / customer_df["total_orders"]
)

In [28]:
customer_df = customer_df[customer_df["total_revenue"] > 0]

customer_df = customer_df.sort_values(by="total_revenue", ascending=False)

In [29]:
customer_df.head(10)

,CustomerID,total_revenue,total_orders,total_quantity,last_purchase,total_returns,recency_days,return_rate
1703,14646,279489.02,77,196719,2011-12-08 12:12:00,0,2,0.0
4233,18102,256438.49,62,64122,2011-12-09 11:50:00,0,1,0.0
3758,17450,187482.17,55,69029,2011-12-01 13:29:00,0,8,0.0
1895,14911,132572.62,248,77180,2011-12-08 15:54:00,0,1,0.0
55,12415,123725.45,26,77242,2011-11-15 14:22:00,0,24,0.0
1345,14156,113384.14,66,57025,2011-11-30 10:54:00,0,10,0.0
3801,17511,88125.38,46,63012,2011-12-07 10:12:00,0,3,0.0
3202,16684,65892.08,31,49390,2011-12-05 14:06:00,0,4,0.0
1005,13694,62653.10,60,61803,2011-12-06 09:32:00,0,4,0.0
2192,15311,59419.34,118,37720,2011-12-09 12:00:00,0,1,0.0

In [30]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

customer_df[["revenue_score", "recency_score", "return_score"]] = scaler.fit_transform(
    customer_df[["total_revenue", "recency_days", "return_rate"]]
)

customer_df["recency_score"] = 1 - customer_df["recency_score"]

In [31]:
customer_df["decision_score"] = (
    0.5 * customer_df["revenue_score"] +
    0.3 * customer_df["recency_score"] -
    0.2 * customer_df["return_score"]
)

In [32]:
def label_customer(score):
    if score >= 0.6:
        return "Keep"
    elif score >= 0.4:
        return "Grow"
    else:
        return "Drop"

customer_df["decision_label"] = customer_df["decision_score"].apply(label_customer)

In [33]:
print(customer_df["decision_label"].value_counts())

print(customer_df.sort_values("decision_score", ascending=False).head(10))

decision_label
Drop    4311
Grow       8
Keep       3
Name: count, dtype: int64
      CustomerID  total_revenue  total_orders  total_quantity  \
1703       14646      279489.02            77          196719
4233       18102      256438.49            62           64122
3758       17450      187482.17            55           69029
1895       14911      132572.62           248           77180
55         12415      123725.45            26           77242
1345       14156      113384.14            66           57025
3801       17511       88125.38            46           63012
3202       16684       65892.08            31           49390
1005       13694       62653.10            60           61803
2192       15311       59419.34           118           37720

           last_purchase  total_returns  recency_days  return_rate  \
1703 2011-12-08 12:12:00              0             2          0.0
4233 2011-12-09 11:50:00              0             1          0.0
3758 2011-12-01 13:29:00              0             8          0.0
1895 2011-12-08 15:54:00              0             1          0.0
55   2011-11-15 14:22:00              0            24          0.0
1345 2011-11-30 10:54:00              0            10          0.0
3801 2011-12-07 10:12:00              0             3          0.0
3202 2011-12-05 14:06:00              0             4          0.0
1005 2011-12-06 09:32:00              0             4          0.0
2192 2011-12-09 12:00:00              0             1          0.0

      revenue_score  recency_score  return_score  decision_score  \
1703       1.000000       0.997319           0.0        0.799196
4233       0.917526       1.000000           0.0        0.758763
3758       0.670803       0.981233           0.0        0.629772
1895       0.474339       1.000000           0.0        0.537170
55         0.442684       0.938338           0.0        0.502844
1345       0.405684       0.975871           0.0        0.495603
3801       0.315309       0.994638           0.0        0.456046
3202       0.235759       0.991957           0.0        0.415467
1005       0.224170       0.991957           0.0        0.409672
2192       0.212600       1.000000           0.0        0.406300

     decision_label
1703           Keep
4233           Keep
3758           Keep
1895           Grow
55             Grow
1345           Grow
3801           Grow
3202           Grow
1005           Grow
2192           Grow

In [35]:
final_cols = [
    "CustomerID",
    "total_revenue",
    "total_orders",
    "recency_days",
    "return_rate",
    "decision_score",
    "decision_label"
]

final_df = customer_df[final_cols]

final_df.to_csv("customer_decision_pipeline_final.csv", index=False)